
h1{
    text-align: center;
    font-size:50px;
    padding-top:1%;
    padding-bottom:7%;
    text-decoration:underline;
}

body{
    background-image: url("tiktokのり.jpg");
    /* background-image: url("のり.jpeg"); */
    /* background-size: 1024px, 768px; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#field{
    margin:0% 10%;
    padding: 13% 5%;
    background-color: #E6E7E8;
    opacity: 0.9;
}

.student{
    text-align: center;
    font-size: 30px;
    /* height: 80px;  */
    
}
.grade {
    display: inline-block;
    font-family:Hiragino Kaku Gothic Pro;
    vertical-align: middle
}

.name{
    margin-left: 2%;
    display: inline-block;
    font-family:Hiragino Kaku Gothic Pro;
    vertical-align: middle
}

.status{
    margin-left: 20%;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    
}

.kitaku{
    padding: 1% 15%;
    background-color: #00bfa5;
    color:white;
}

.zaishitsu{
    padding: 1% 15%;
    background-color: #dc143c;
    color:white;
}

.gakugai{
    padding: 1% 15%;
    background-color: #0288d1;
    color:white;
}

.gakunai{
    padding: 1% 15%;
    background-color: #ffa000;
    color:white;
}